@CHARSET "ISO-8859-1";

html{
	height: 100%;
}

body { 
	font-family: 'Verdana', sans-serif;
	font-size: 14px;
	background-color: whitesmoke;
}

.header {
	border: medium solid black;
	width: 100%;
	height: 4em;
}

.headerMsg {
	width: 33%;
	font-size: 16px;
	text-align: center;
}

.headerOpt {
	width: 100%;
	font-size: 16px;
	text-align: center;
	height: 4em;
}

.footer {
	width: 100%;
	border: thin outset black;
	background-color: whitesmoke;
	text-align: center;
	margin-top: 5%;
}

.content {
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	padding:  2% 5%;
	border: solid;
	text-align: justify;
	background-color: white;
}

.sectionTitle {
	border-radius: 33px 33px 33px 33px;
	-moz-border-radius: 33px 33px 33px 33px;
	-webkit-border-radius: 33px 33px 33px 33px;
	border: 1px outset #000000;
	
	-webkit-box-shadow: 10px 9px 11px 2px rgba(97,93,97,1);
	-moz-box-shadow: 10px 9px 11px 2px rgba(97,93,97,1);
	box-shadow: 10px 9px 11px 2px rgba(97,93,97,1);
	
	padding: 0.5em;
	display: inline;
	margin-bottom: 2em;
	background-color: whitesmoke;
}

.info {
	margin-top: 3%;
	text-align: justify;
}

.form {
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 2em;
	border-radius: 19px 19px 19px 19px;
	-moz-border-radius: 19px 19px 19px 19px;
	-webkit-border-radius: 19px 19px 19px 19px;
	border: 2px outset #000000;
}

.infoTab {
	width: 80%;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 1em;
	border-radius: 19px 19px 19px 19px;
	-moz-border-radius: 19px 19px 19px 19px;
	-webkit-border-radius: 19px 19px 19px 19px;
	border: 2px outset #000000;
	text-align: center;
}

.infoHeader {
	font-weight: bold;
	text-decoration: underline;
	font-size: 16px;
}

.label{
	text-align: left;
	font-size: 16px;
	width: auto;
}


.instruction {
	width: auto;
	text-align: justify;
	margin-top: 3%;
	margin-bottom: 2%;
}

.submit {
	width: auto;
}

.button {
	font-size: 18px;
	text-align: center;
	width: 100%;
	height: 2em;
}

.buttonStop {
	font-size: 18px;
	text-align: center;
	width: 55%;
	height: 2em;
}

#chart_div {
	margin: 2.5% 5%;
    height:720px;
    width:1280px;
}
